body {
	font-family: monospace;
	background-color: #434C5E;
	color: #ECEFF4;
    padding-left: 8%;
    padding-right: 8%
}

h3 {
	font-weight: lighter;
	text-decoration: underline;
	color: #e5e9f0;
}

table {
	max-width: 100%;
}

pre {
	color: #a3be8c;
	font-weight: bolder;
}

a:link {
	text-decoration: underline overline;
	color: #a3be8c;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: #a3be8c;
	font-weight: bold;
}

a:active {
	text-decoration: none;
	color: #a3be8c;
}

a:visited {
	text-decoration: none;
	color: #a3be8c;
	font-weight: bold;
}
